body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: green;
  color: #333;
}

h1 {
  color: #e60000;
  text-align: center;
  margin-top: 20px;
}

h2 {
  color: #ff3333;
}

h3 {
  color: #ff6666;
}

.images img {
  width: 300px;
  height: auto;
  margin: 10px;
  border-radius: 15px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.images img:hover {
  transform: scale(1.06969);
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}
